SERVER_HOST=YOUR_HOST  # default 0.0.0.0
SERVER_PORT=YOUR_PORT  # default 9000
OUTER_HOST=YOUR_HOST  # url for telegram ngrok

WEBHOOKS_ROOT=YOUR_ROOT  # default /webhooks
WEBHOOKS_SECRET=YOUR_SECRET  # not required
WORKERS_COUNT=YOUR_COUNT  # default 1
