SERVER_HOST=YOUR_HOST  # default 0.0.0.0
SERVER_PORT=YOUR_PORT  # default 9001
WORKERS_COUNT=YOUR_COUNT  # default 1

DB_HOST=YOUR_HOST
DB_PORT=YOUR_PORT
DB_USERNAME=YOUR_USERNAME
DB_PASSWORD=YOUR_PASSWORD
DB_NAME=YOUR_NAME
DB_SCHEMA=YOUR_SCHEMA

QUEUE_HOST=YOUR_HOST
QUEUE_PORT=YOUR_PORT
QUEUE_USERNAME=YOUR_USERNAME
QUEUE_PASSWORD=YOUR_PASSWORD
