SERVER_HOST=YOUR_HOST  # default 0.0.0.0
SERVER_PORT=YOUR_PORT  # default 9003
WORKERS_COUNT=YOUR_COUNT  # default 1

ADMIN_USERNAME=YOUR_USERNAME  # default admin
ADMIN_PASSWORD=YOUR_PASSWORD  # default super_puper_password
